In [32]:
import numpy as np
import pandas as pd

In [3]:
data = np.array([[1, 2, 3],
                         [4, 5, 6],
                         [7, 8, 9]])

print("Matrix :")
print(data)

Matrix :
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [4]:
tm = np.transpose(data)
print("Transpose of Matrix:")
print(tm)

Transpose of Matrix:
[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [5]:
ma = data + data
print("Addition of Matrix:")
print(ma)

Addition of Matrix:
[[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]

In [7]:
mm = data * data
print("Multiplication Matrix:")
print(mm)

Multiplication Matrix:
[[ 1  4  9]
 [16 25 36]
 [49 64 81]]

In [31]:
#For Text File
path = "C:\\Users\\mshah\\Desktop\\AHMED\\PYTHON\\PYTHON-LEARNING\\AI LAB\\matrix.txt"
data = np.genfromtxt(path, delimiter=',')
print(data)

[123. 456. 789.]

In [49]:
#For Excel File
#pip install openpyxl
#it show data into pandas dataframes
path = "C:\\Users\\mshah\\Desktop\\AHMED\\PYTHON\\PYTHON-LEARNING\\AI LAB\\matrix.xlsx"
data = pd.read_excel(path)
print(data)

   C1  C2  C3  C4  C5  C6
0   1   2   3   4   5   6
1   4   5   6   7   8   9
2   7   8   9   1   2   3

In [53]:
td = np.transpose(data)
print(td)

    0  1  2
C1  1  4  7
C2  2  5  8
C3  3  6  9
C4  4  7  1
C5  5  8  2
C6  6  9  3

In [56]:
#show top 5 rows
print(td.head())
print(td.describe())

    0  1  2
C1  1  4  7
C2  2  5  8
C3  3  6  9
C4  4  7  1
C5  5  8  2
              0         1         2
count  6.000000  6.000000  6.000000
mean   3.500000  6.500000  5.000000
std    1.870829  1.870829  3.405877
min    1.000000  4.000000  1.000000
25%    2.250000  5.250000  2.250000
50%    3.500000  6.500000  5.000000
75%    4.750000  7.750000  7.750000
max    6.000000  9.000000  9.000000