In [9]:
import numpy as np
import pandas as pd

In [2]:
Matrix = np.matrix([[12,23],
                   [45,67]])
print(Matrix)

[[12 23]
 [45 67]]

In [7]:
m1 = np.matrix([[12,23],
                [45,67]])
m2 = np.matrix([[1,3],
                [5,7]])
dot = np.dot(m1,m2)
print(dot)

[[127 197]
 [380 604]]

In [10]:
ages = np.array([13,25,19])
series1 = pd.Series(ages)
print(series1)

0    13
1    25
2    19
dtype: int64

In [20]:
ages = np.array([13,25,19])
series1 = pd.Series(ages,index=['Ahmed', 'Ali', 'Asad'])
print(series1)

Ahmed    13
Ali      25
Asad     19
dtype: int64

In [ ]:
dataf = pd.DataFrame([
['Ahmed','XYZ',19],
['Ali', 'DEF',28],
['Asad', '789 Broadway',51]
],
columns=['name','address','age'])