In [1]:
list1 = [11,22,33,44,55]
for i in list1:
    print(i)

11
22
33
44
55

In [2]:
#for the reverse list
list1 = [11,22,33,44,55]
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

55
44
33
22
11

In [6]:
#for tuple
t1 = (11,22,66,77,88)
for i in t1:
    print(i)

11
22
22
66
77
88

In [4]:
#for set
s1 = {11,22,33,44,55,66}
for i in s1:
    print(i)

33
66
22
55
11
44

In [5]:
#for dictionary
d1 = {1:'Ali',2:'Asif',3:'Adam'}
for i in d1:
    print(i,d1[i])

1 Ali
2 Asif
3 Adam

In [1]:
#for reverse
list1 = [11,22,33,44,55]
l = len(list1)-1
while l >= 0:
    print(list1[l])
    l-=1

55
44
33
22
11

In [2]:
list1 = [11,22,33,44,55]
i = 0
while i < len(list1):
    print(list1[i])
    i+=1

11
22
33
44
55