In [14]:
s = "Ahmed_Shahi"
split = s.split('_')[0]
slic = s[0:5]
print(slic)
print(split)

Ahmed
Ahmed

In [48]:
s = "Ahmed_Shahi"
s[::-1]

'ihahS_demhA'

In [60]:
#capital the first letter of name and collect only the first name
name = input("Enter Your Name:" )
fName = name.split()[0]
fL = fName[0].upper()
slic = fName[1:].lower()
final = fL+slic
print("The Name of User input is %s \nAfter Process the Name of user is %s"%(name,final))

Enter Your Name: ahMed Shahi

The Name of User input is ahMed Shahi
After Process the Name of user is Ahmed

In [13]:
a = 11
b = 3
a2 = a // b # '//' its change the data type float to int
print(a2)
print(type(a2))
print(type(a))
a3 = a%b
print(a3)

3
<class 'int'>
<class 'int'>
2
<class 'int'>